<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>java2_ParkingVehiculosV2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Borrar</display-name>
    <servlet-name>Borrar</servlet-name>
    <servlet-class>Borrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrar</servlet-name>
    <url-pattern>/Borrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscar</display-name>
    <servlet-name>Buscar</servlet-name>
    <servlet-class>Buscar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscar</servlet-name>
    <url-pattern>/Buscar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaCoche</display-name>
    <servlet-name>CreaCoche</servlet-name>
    <servlet-class>CreaCoche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaCoche</servlet-name>
    <url-pattern>/CreaCoche</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listar</display-name>
    <servlet-name>Listar</servlet-name>
    <servlet-class>Listar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listar</servlet-name>
    <url-pattern>/Listar</url-pattern>
  </servlet-mapping>
</web-app>